body {
    background-color: rgb(0, 0, 0);
}

.container {
    display: grid;
    justify-items: center;
    height: 100vh;
}

header {
    font-size: 30px;
    font-family: 'Lucida Sans', sans-serif;
    color: white;
    margin-top: 20px;
}

.circles {
    display: flex;
    align-items: center;
    margin-top: -100px;
}

.circle1 {
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0px 10px 20px 0px;
}

.circle2 {
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 10px;
}

.circle3 {
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0px 0px 20px 10px;
}

.circle4 {
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 10px;
}

button {
    background-color: white;
    border: none;
    font-size: 3vmin;
    margin-top: 20px;
}

#startBtn {
    margin-right: 10px;
}

#newGameBtn {
    margin-left: 10px;
}